@import url('https://fonts.googleapis.com/css?family=Audiowide|Bangers|Press+Start+2P');

body {
  margin: 0px;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  overflow: hidden;
}

#root {
  position: relative;
  z-index: 1000;
}

#stripes span {
  height: 240px;
}

#stripes, #stripes span {
  position: absolute;
}

#stripes {
  width: 100%;
  height: 112vh;
  overflow: hidden;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6f3ff 94%);
}

#stripes :first-child {
  width: 33.33333%;
  width: calc(100% / 3);
  left: -16.66666%;
  left: calc(calc(calc(100% / 3) / 2) * -1);
  background: #53f;
}

#stripes :nth-child(2) {
  width: 33.33333%;
  width: calc(100% / 3);
  top: 0;
  left: 16.66666%;
  left: calc(calc(100% / 3) / 2);
  right: auto;
  background: #2d2773;
}

#stripes :nth-child(3) {
  width: 33.33333%;
  width: calc(100%);
  left: 49.99999%;
  left: calc(calc(calc(99% / 3) / 2) + calc(100% / 3));
  bottom: auto;
  background: #2d2773;
}

#stripes :nth-child(4) {
  width: 33.33333%;
  width: calc(100% / 3);
  top: 380px;
  top: calc(190px * 2);
  right: -16.66666%;
  right: calc(calc(calc(100% / 3) / 2) * -1);
  background: #25ddf5;
}

#stripes :nth-child(5) {
  width: 33.33333%;
  width: calc(100% / 3);
  bottom: 0;
  background: #1fa2ff;
}

#dashboard {
  color: #fff;
}

.clear {
  clear: both;
  content: ""
}

.clock,
.counter {
  display: inline-block;
  width: 49.5%;
  margin-bottom: .5em;
}

.count,
.time {
  font-size: .8em;
}

.board {
  display: inline-block;
  width: 18em;
  border: .5em solid transparent;
  margin: 0 auto;
}
.board.win {
  border-color: rgb(197, 92, 229);
}
.board.loss {
  border-color: rgb(150, 28, 28);
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 20em;
}
.game-info {
  min-height: 50px;
}

.block {
  background: #ced2c48a;
  border: 1px solid #2d2374;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}
.block:focus {
  outline: none;
}

.hidden {
  background: #00e6ff;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

.react {
  margin-top: 5px;
  animation: App-logo-spin infinite 7s linear;
}

.title {
  font-family: 'Audiowide', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}